<app-panel title="Cadastro de Funcionários">

    <form #form="ngForm" (submit)="salvar()">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6">
                <app-custom-input [(ngModel)]="eleitor.id" #id="ngModel" [control]="id" id="id" label="Código" name="id"
                    readOnly="true">
                </app-custom-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-custom-input [(ngModel)]="eleitor.nome" #nome="ngModel" [control]="nome" id="nome" label="Nome"
                    name="nome" required>
                </app-custom-input>
            </div>

            <div class="col-md-6">
                <app-custom-input [(ngModel)]="eleitor.email" #email="ngModel" [control]="email" id="email"
                    label="E-mail" name="email" required>
                </app-custom-input>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <app-custom-input [(ngModel)]="eleitor.matricula" #matricula="ngModel" [control]="matricula"
                    id="matricula" label="Matrícula" name="matricula">
                </app-custom-input>
            </div>

            <div class="col-sm-4">
                <app-custom-input [(ngModel)]="eleitor.dataAdmissao" #dataAdmissao="ngModel" [control]="dataAdmissao"
                    id="dataAdmissao" label="Data de Admissão" name="dataAdmissao" type="date" date-validation>
                </app-custom-input>
            </div>

            <div class="col-sm-4">
                <app-custom-input [(ngModel)]="eleitor.dataNascimento" #dataNascimento="ngModel"
                    [control]="dataNascimento" id="dataNascimento" label="Data de Nascimento" name="dataNascimento"
                    type="date" date-validation>
                </app-custom-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-custom-input [(ngModel)]="eleitor.cargo" #cargo="ngModel" [control]="cargo" id="cargo"
                    label="Cargo" name="cargo">
                </app-custom-input>
            </div>
            <div class="col-md-6">
                <app-custom-input [(ngModel)]="eleitor.area" #area="ngModel" [control]="area" id="area" label="Área"
                    name="area">
                </app-custom-input>
            </div>
        </div>

        <button type="submit" class="btn btn-primary m-r-sm" [disabled]="form.invalid"><i class="fa fa-save"></i> Salvar</button>
        <a routerLink="../" class="btn btn-default">Cancelar</a>

    </form>

</app-panel>