<div *ngIf="!dimensionamento.qtdaVotos else templateAtualizar" class="alert alert-warning">
  <strong>Não temos nada para mostrar!</strong> Ainda não houve nenhum voto nesta eleição.
</div>

<ng-template #templateAtualizar>
  <!-- <div class="row">
    <div class="col-md-12">
      <a class="float-right" (click)="atualizar()"><span class="fa fa-refresh"></span> Atualizar</a>
    </div>
  </div> -->
</ng-template>


<div *ngIf="dimensionamento.qtdaVotos">
  <app-widgets [dimensionamento]="dimensionamento"></app-widgets>

  <app-panel title="Apuração dos votos" [collapsible]="false">
    <h2 class="text-center">Qtda. de Votos</h2>
    <h5 class="text-center">Ultima atualização: {{ ultimaAtualizacao | date:'dd/MMM/yyyy HH:mm:ss' }}</h5>
    <br>
    <app-apuracao-chart [apuracao]="apuracao" barChartType="horizontalBar"></app-apuracao-chart>
  </app-panel>

  <app-panel title="Relatório de eleitores" [options]="optionsEleitoresVotantes"
    (optionClick)="onOptionsEleitoresVotantesClick($event)">
    <app-relatorio-eleitores [eleicao]="eleicao"></app-relatorio-eleitores>
  </app-panel>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-panel title="Resultado da Apuração" labelText="Efetivos" labelClass="label-primary" [collapsible]="false">
        <app-resultado-apuracao [apuracao]="resultado.efetivos"></app-resultado-apuracao>
      </app-panel>
    </div>

    <div class="col-md-6 col-sm-12">
      <app-panel title="Resultado da Apuração" labelText="Suplentes" labelClass="label-primary" [collapsible]="false">
        <app-resultado-apuracao [apuracao]="resultado.suplentes"></app-resultado-apuracao>
      </app-panel>
    </div>
  </div>
</div>

<app-panel title="Relação de Votos por Candidato" [options]="optionsCandidatos"
  (optionClick)="onOptionsCandidatosClick()" *ngIf="dimensionamento.qtdaVotos">
  <app-relacao-candidatos [resultado]="resultado" [eleicao]="eleicao" [downloadRelatorio]="donwloadRelatorioCandidatos">
  </app-relacao-candidatos>
</app-panel>
