<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Eleições CIPA {{ eleicao.dataInicio | date:'yyyy' }}</h1>

      <div class="ibox product-detail">
        <div class="ibox-content">

          <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
              <div class="product-images">

                <div class="foto">
                  <img alt="Foto do usuário." *ngIf="foto" [src]="foto">
                  <img alt="Nenhuma foto carregada." *ngIf="!foto" src="/assets/img/icone.jpg">
                </div>

                <label title="Upload image file" for="inputImage" class="btn btn-white btn-block m-t-sm"
                  *ngIf="confirmacaoButtonText">
                  <input type="file" accept="image/*" name="file" id="inputImage" class="hide"
                    (change)="onUploadImage($event)">
                  {{ jaInscrito ? 'Trocar Foto' : 'Carregar foto' }}
                </label>

              </div>

            </div>
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">

              <h2 class="font-bold m-b-xs">
                {{ candidato.eleitor?.nome }}
              </h2>
              <small>{{ candidato.eleitor?.cargo }}</small>
              <hr>

              <div class="row" *ngIf="jaInscrito">
                <div class="col-lg-12">
                  <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd><span class="label" [ngClass]="statusAprovacaoClass">{{ statusAprovacao }}</span></dd>
                  </dl>
                </div>
              </div>

              <div class="row" *ngIf="candidato.statusAprovacao == StatusAprovacao.Reprovada && ultimaReprovacao">
                <div class="col-lg-12">
                  <dl class="dl-horizontal">
                    <dt>Motivo:</dt>
                    <dd>
                      <p>
                        {{ ultimaReprovacao.motivoReprovacao }}<br>
                        <small>{{ ultimaReprovacao.horario | date:'dd/MM/yyyy HH:mm' }} -
                          {{ ultimaReprovacao.nomeAprovador }}
                          ({{ ultimaReprovacao.emailAprovador }})</small>
                      </p>

                      <small *ngIf="candidato.reprovacoes.length > 1">
                        <a href="">Exibir Histório de Reprovações</a>
                      </small>

                    </dd>
                  </dl>
                </div>
              </div>

              <div class="row m-t-md">
                <div class="col-lg-6">
                  <dl class="dl-horizontal">
                    <dt>Área:</dt>
                    <dd>{{ candidato.eleitor?.area }}</dd>
                    <dt>Matrícula:</dt>
                    <dd>{{ candidato.eleitor?.matricula }}</dd>
                    <dt>Email:</dt>
                    <dd>{{ candidato.eleitor?.email }}</dd>
                  </dl>
                </div>

                <div class="col-lg-6">
                  <dl class="dl-horizontal">
                    <dt>Data de Admissão:</dt>
                    <dd>{{ candidato.eleitor?.dataAdmissao | date:'dd/MM/yyyy' }}</dd>
                    <dt>Data de Nascimento:</dt>
                    <dd>{{ candidato.eleitor?.dataNascimento | date:'dd/MM/yyyy' }}</dd>
                  </dl>
                </div>
              </div>


              <h4>Objetivos</h4>
              <textarea name="objetivos" countChar maxChar="255" [disabled]="!confirmacaoButtonText" id="objetivos" cols="30" rows="2" class="form-control"
                [(ngModel)]="candidato.objetivos" placeholder="Digite aqui seus objetivos como membro da CIPA."></textarea>
              <hr>

              <div class="row" *ngIf="confirmacaoButtonText">
                <div class="col-md-12">
                  <div class="btn-group float-right">
                    <button class="btn btn-primary" (click)="confirmaCandidatura()"><i class="fa fa-vcard"></i>
                      {{ confirmacaoButtonText }}</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="ibox-footer">
          <span class="pull-right">
            <i class="fa fa-clock-o"></i> {{ horario | date:'dd/MMM/yyyy HH:mm' }}
          </span>
          Incrição para a CIPA
        </div>
      </div>

    </div>
  </div>
</div>
