<form #form="ngForm">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      Data de Início do processo de Eleição
      <app-datepicker #dataInicio="ngModel" required name="dataInicio" [(ngModel)]="gestao.dataInicio" inputClasses="input-white"
        control="dataInicio"></app-datepicker>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      Qual é o tempo de duração dessa gestão? (em anos)
      <input type="number" name="duracaoGestao" required [(ngModel)]="gestao.duracaoGestao" class="form-control">
    </div>
  </div>
</form>
