<ng-template #modalInfoCronograma>
  <p>
    As etapas do cronograma são atualizadas automaticamente, ou seja, o próprio sistema inicia a etapa na data prevista,
    à
    1:00 da manhã. Apesar disso, é possível antecipar uma etapa apenas clicando no botão "Próxima Etapa".<br>
    Caso ocorra algum erro de validação ou sistema ao tentar mudar de etapa (ex.: votação não atingui o quorum
    mínimo), o cronograma permancerá inalterado, porém a etapa será sinalizada.
    <app-ajuda-tooltip ajuda="<img src='assets/img/erro-cronograma.jpg'>"></app-ajuda-tooltip>
  </p>
</ng-template>

<div *ngIf="!processoIniciado">
  <p>
    Antes de iniciar o processo eleitoral, faça a cadastro de todos os funcionários da empresa.<br>
    É importante que o cadastro seja feito agora para que todos os funcionários recebam todos os comunicados via e-mail,
    ainda que seja possível cadastrar funcionários até a etapa de votação.
  </p>

  <div class="row m-b-lg">
    <div class="col-sm-12">
      <a class="btn btn-success m-r-sm" [routerLink]="['/eleicoes', eleicao.id ,'eleitores']">Cadastrar Funcionários <i
          class="fa fa-users"></i></a>
      <button class="btn btn-primary" (click)="anteciparInicio()">Antecipar Início <i
          class="fa fa-clock-o"></i></button>
    </div>
  </div>
</div>

<div class="row m-b-md">
  <div class="col-md-12">
    <a (click)="showModalInfoCronograma()" style="text-decoration: underline">Clique aqui</a> para saber mais sobre a atualização automática do cronograma.
  </div>
</div>

<div id="vertical-timeline" class="vertical-container light-timeline no-margins">
  <div etapa-cronograma class="vertical-timeline-block" [class.inactive]="etapa.posicaoEtapa === PosicaoEtapa.Futura"
    *ngFor="let etapa of eleicao.cronograma" [etapa]="etapa" (proximaEtapa)="proximaEtapa($event)"
    (atualizarEtapa)="atualizarEtapa($event)" (exibirTemplates)="exibirTemplates($event)"
    [carregandoProximaEtapa]="carregandoProximaEtapa" [dimensionamento]="dimensionamento"></div>
</div>

<ng-template #modalTemplates>
  <app-templates [templates]="templates"></app-templates>
</ng-template>
