<div id="vertical-timeline" class="vertical-container light-timeline no-margins">
    <div etapa-cronograma class="vertical-timeline-block"
        [class.inactive]="etapa.posicaoEtapa === PosicaoEtapa.Futura" *ngFor="let etapa of eleicao.cronograma"
        [etapa]="etapa" (proximaEtapa)="proximaEtapa($event)" (atualizarEtapa)="atualizarEtapa($event)" (exibirTemplates)="exibirTemplates($event)"
        [carregandoProximaEtapa]="carregandoProximaEtapa"></div>
</div>

<ng-template #modalTemplates>
    <app-templates [templates]="templates"></app-templates>
</ng-template>