<h2>Abertura de Nova Eleição</h2>
<p>
  Para abrir uma nova eleição, basta seguir os passos abaixo.
</p>

<app-panel>


  <app-wizard [steps]="steps" (changeStep)="changeStep($event)" [validNext]="validNext">
    <div [ngSwitch]="currentStepIndex">

      <div *ngSwitchCase="1">
        <form [formGroup]="formGestao">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  Data de Início do processo de Eleição
                  <app-datepicker formControlName="dataInicio" inputClasses="input-white"
                      control="formGestao.get('dataInicio')"></app-datepicker>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  Qual é o tempo de duração dessa gestão? (em anos)
                  <input type="number" formControlName="duracaoGestao" class="form-control">
              </div>
          </div>
      </form>
      </div>

      <div *ngSwitchCase="2">
        <div class="row">
          <div class="col-md-12" [hidden]="novaEmpresa">
            Observamos que você já possui {{ empresas.length }} empresas cadastradas. Escolha uma delas para iniciar a
            nova
            eleição, ou
            cadastre uma nova empresa.

            <form [formGroup]="formListaEmpresa">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <select class="form-control m-t-sm" name="lista-empresa" id="lista-empresa" formControlName="empresa">
                    <option value="">(Selecione a empresa)</option>
                    <option [value]="emp.id" *ngFor="let emp of empresas">{{ emp.razaoSocial }}</option>
                  </select>
                </div>
              </div>
            </form>

            <button class="btn btn-primary m-t-md" (click)="empresaForm()"><i class="fa fa-plus"></i> Nova
              Empresa</button>
          </div>
          <div class="col-md-12" [hidden]="!novaEmpresa">
            <app-empresa-shared-form (cancelarEdicao)="cancelarEmpresa()" (salvarEmpresa)="salvarEmpresa($event)">
            </app-empresa-shared-form>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="3">
        <div class="row">
          <div class="col-md-12" [hidden]="novoEstabelecimento">
            <div *ngIf="estabelecimentos.length > 1; else estabelecimentoUnico">
              A empresa selecionada possui {{ estabelecimentos.length }} estabelecimentos.
              Selecione um deles ou cadastre um novo estabelecimento.
            </div>
            <ng-template #estabelecimentoUnico>
              A empresa selecionada já possui 1 estabelecimento cadastrado. Já selecionamos ele para você.<br>
              Se precisar cadastrar um novo estabelecimento, basta clicar no botão abaixo.
            </ng-template>
            <form [formGroup]="formListaEstabelecimentos">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                  <select class="form-control m-t-sm" name="lista-estabelecimento" id="lista-estabelecimento"
                    formControlName="estabelecimento">
                    <option value="">(Selecione o estabelecimento)</option>
                    <option [value]="est.id" *ngFor="let est of estabelecimentos">{{ est.enderecoStr() }}</option>
                  </select>
                </div>
              </div>
            </form>
            <button class="btn btn-primary m-t-md" (click)="estabelecimentoForm()"><i class="fa fa-plus"></i> Novo
              Estabelecimento</button>
          </div>
          <div class="col-md-12" [hidden]="!novoEstabelecimento">
            <app-estabelecimento-shared-form [empresas]="[empresaSelecionada]" [estabelecimento]="estabelecimento"
              (cancelarEdicao)="cancelarEstabelecimento()" (salvarEstabelecimento)="salvarEstabelecimento($event)">
            </app-estabelecimento-shared-form>
          </div>
        </div>
      </div>

      <!-- <div *ngSwitchCase="4">

        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
          <div etapa-cronograma class="vertical-timeline-block" *ngFor="let etapa of cronograma" [etapa]="etapa"
            layout="Cadastro"></div>
        </div>

        <button class="btn btn-success m-t-md" (click)="salvarEleicao()">Abrir Eleição!</button>
      </div> -->

    </div>
  </app-wizard>

</app-panel>