<div id="vertical-timeline" class="vertical-container light-timeline no-margins">
    <div class="vertical-timeline-block" [class.inactive]="etapa.posicaoEtapa === PosicaoEtapa.Futura"
        *ngFor="let etapa of eleicao.cronograma">
        <div class="vertical-timeline-icon"
            [ngClass]="etapa.posicaoEtapa === PosicaoEtapa.Atual ? 'blue-bg' : 'navy-bg'">
            <i class="fa" [ngClass]="calendarIcon(etapa)"></i>
        </div>

        <div class="vertical-timeline-content">
            <div class="col-sm-12"
                [ngClass]="etapa.posicaoEtapa === PosicaoEtapa.Futura ? 'col-md-12' : 'col-lg-8 col-md-7'">
                <h2>{{ etapa.nomeEtapa }}</h2>

                <div class="row">
                    <div class="col-md-12">
                        <span class="vertical-date">
                            <i class="fa fa-calendar"></i> {{ etapa.dataPrevista | date:'dd/MMM/yy' }}<br>
                            <small [hidden]="etapa.posicaoEtapa === PosicaoEtapa.Passada">Clique na data acima para
                                alterá-la.</small>
                        </span>
                    </div>
                </div>

                <p>{{ etapa.descricaoEtapa }}</p>

                <div class="templates">
                    <p>Possuímos alguns documentos de exemplo que podem te ajudar. Confira-os e fique à vontade para
                        utilizá-los!</p>
                    <button class="btn btn-success" [disabled]="etapa.posicaoEtapa === PosicaoEtapa.Futura"
                        (click)="exibirTemplates(etapa.id)"><i class="fa fa-file-text"></i> Templates</button>
                </div>

            </div>

            <div class="col-lg-4 col-md-5 col-sm-12 arquivos" *ngIf="etapa.posicaoEtapa !== PosicaoEtapa.Futura">
                <app-arquivos [arquivos]="arquivos" dropzoneColor="#eee"></app-arquivos>
                <div class="row m-t-sm" *ngIf="etapa.posicaoEtapa === PosicaoEtapa.Atual">
                    <div class="col-md-12">
                        <button href="#" class="btn btn-primary" style="float: right" (click)="proximaEtapa()"> Próxima
                            Etapa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalTemplates>
    <h4>Documentos Templates</h4>
    <p>Abaixo está a lista de documentos que sugerimos como exemplo para a etapa atual:</p>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let arquivo of templates">
                <td class="project-status">
                    <button class="btn btn-outline btn-danger btn-xs m-r-xs" (click)="deleteFile(arquivo.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-outline btn-primary btn-xs" (click)="download(arquivo)">
                        <i class="fa fa-download"></i>
                    </button>
                </td>
                <td class="project-title">
                    <strong>{{ arquivo.nome }}</strong>
                    <br />
                    <small>Upload: {{ arquivo.dataUpload | date:'dd/MM/yyy HH:mm' }}, {{ (arquivo.tamanho / 1024) |
                number:'1.0-1' }}k</small>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>