<div class="vertical-timeline-icon" [ngClass]="calendarClass">
  <i class="fa" [ngClass]="calendarIcon"></i>
</div>

<div class="vertical-timeline-content">
  <div class="col-sm-12" [ngClass]="tamanhoDescricao">
    <h2>{{ etapa.nomeEtapa }}</h2>

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form">
          <span class="vertical-date">
            <div *ngIf="isDateDisabled" style="font-size: 14px;cursor: not-allowed;color:#676a6c">
              <span><i class="fa fa-calendar"></i></span> {{ form.get('data').value | date:'dd/MM/yyyy' }}
            </div>
            <app-datepicker [name]="'data' + etapa.id" [id]="'data' + etapa.id" formControlName="data"
              [control]="form.get('data')" *ngIf="!isDateDisabled"></app-datepicker>
            <small *ngIf="!isDateDisabled">Clique na data acima para alterá-la.</small>
          </span>
        </form>
      </div>
    </div>

    <p>{{ etapa.descricaoEtapa }}</p>
    <br>
    <div class="row" *ngIf="dimensionamento && etapa.etapaObrigatoriaId === CodigoEtapaObrigatoria.Inscricao">
      <div class="col-sm-12">
        <div class="alert" [ngClass]="possuiQtdaMinimaInscricoes ? 'alert-success' : 'alert-danger'">
          Para empresas do grupo <strong>{{ dimensionamento.codigoGrupo }}</strong>, com <strong>{{ dimensionamento.qtdaEleitores }}</strong> funcionários, o dimensionamento dos membros da CIPA é:
          <br>
          <strong>Efetivos: </strong>{{ dimensionamento.qtdaEfetivos }}<br />
          <strong>Suplentes: </strong>{{ dimensionamento.qtdaSuplentes }}<br />
          <strong>Inscrições: </strong>{{ dimensionamento.qtdaInscricoes }}<br />
          <span style="display: block; margin-bottom: 8px;" *ngIf="!possuiQtdaMinimaInscricoes">Portanto, somente será permitido passar para a próxima etapa, se houverem <strong>no mínimo {{ dimensionamento.qtdaEfetivos + dimensionamento.qtdaSuplentes }} inscrições</strong>.</span>
          <span style="display: block; margin-bottom: 8px;" *ngIf="possuiQtdaMinimaInscricoes">A quantidade mínima de inscrições já foi alcançada.</span>
          <small>Última atualização: {{ ultimaAtualizacao | date:'dd/MM/yyyy HH:mm'}}</small>
        </div>
      </div>
    </div>


    <div class="templates" *ngIf="layout === 'Visualização' && etapa.possuiTemplates">
      <p>Possuímos alguns documentos de exemplo que podem te ajudar. Confira-os e fique à vontade para
        utilizá-los!</p>
      <button class="btn btn-success" [disabled]="etapa.posicaoEtapa === PosicaoEtapa.Futura"
        (click)="onExibirTemplates(etapa.id)"><i class="fa fa-file-text"></i> Templates</button>
    </div>

  </div>

  <div class="col-lg-4 col-md-5 col-sm-12 arquivos"
    *ngIf="layout === 'Visualização' && etapa.posicaoEtapa !== PosicaoEtapa.Futura">

    <app-arquivos [arquivos]="arquivos" (upload)="upload($event)" (delete)="deleteArquivo()"></app-arquivos>


    <div class="row m-t-sm" *ngIf="etapa.posicaoEtapa === PosicaoEtapa.Atual">
      <div class="col-md-12">
        <button href="#" class="btn btn-primary" style="float: right" [ladda]="carregandoProximaEtapa"
          (click)="onProximaEtapa()"> Próxima
          Etapa</button>
      </div>
    </div>
  </div>
</div>
