<div class="header">
    <h1 class="mat-display-1">Login</h1>
    <h2 class="mat-h2 accent-color">Autentique-se e acesse o sistema</h2>
</div>

<div class="flex-content">
  <mat-card>
    <mat-card-content>
      <form class="form-container">
        <mat-form-field>
          <input matInput placeholder="Email" autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Senha" type="password" autocomplete="off">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button id="btn-login" mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>