mat-card {
    width: 90%;
    margin: auto;
    max-width: 350px;
}

mat-card-header {
    text-align: center;
}

mat-card-title {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-container > * {
    width: 100%;
}

mat-card-content {
    padding: 20px 10px 0;
}

mat-card-actions {
    padding: 0 10px;
}

button {
    float: right
}

#btn-login {
    margin-bottom: 20px;
}

.header {
    text-align: center;
}