<div class="ibox">
  <div class="ibox-content product-box">
    <div class="product-desc">

      <h4>{{ eleicao.estabelecimento?.empresa?.razaoSocial }}
        <small *ngIf="eleicao.etapaAtual"
          class="label label-success float-right">{{ eleicao.etapaAtual.nomeEtapa }}</small>
      </h4>
      <p>
        {{ eleicao.estabelecimento?.endereco }}<br>
        {{ eleicao.estabelecimento?.descricao }}
      </p>
      <strong>{{ eleicao.estabelecimento?.cidade }}</strong>


    </div>

    <div class="actions">
      <div *ngIf="perfilSESMT; else actionsEleitor">
        <a [routerLink]="'/eleicoes/' + eleicao.id + '/cronograma'" class="btn btn-success btn-outline m-r-sm"><span
            class="fa fa-calendar"></span> Acessar</a>

        <button *ngIf="!eleicao.etapaAtual" class="btn btn-outline-danger" (click)="excluirEleicao()"><span
            class="fa fa-trash"></span>
          Excluir</button>
      </div>

      <ng-template #actionsEleitor>

      </ng-template>

    </div>
  </div>
</div>
