<p>
  As etapas do cronograma são atualizadas automaticamente, ou seja, o próprio sistema inicia a etapa na data prevista,
  à 1:00 da manhã. Apesar disso, é possível antecipar uma etapa apenas clicando no botão "Próxima Etapa".<br>
  Caso ocorra algum erro de validação ou sistema ao tentar mudar de etapa (ex.: votação não atingui o quorum
  mínimo), o cronograma permancerá inalterado, porém a etapa será sinalizada, conforme o exemplo abaixo:
</p>
<p class="text-center">
  <img src='assets/img/erro-cronograma.jpg'>
</p>
