.navbar {
    margin-bottom: 0;
    min-height: 60px;
}

.navbar-brand {
    background: #1ab394;
    color: #fff;
    padding: 20px 25px;
    height: 60px;
}

.collapse {
    display: inherit !important;
}

.navbar-right {
    float: right;   
}
