<div class="row border-bottom" [class.white-bg]="!showLeftNav">
  <nav class="navbar navbar-static-top navbar-expand-lg" role="navigation" [class.left-nav-hidden]="!showLeftNav">

    <a routerLink="/eleicoes" class="navbar-brand" *ngIf="!showLeftNav">CIPA Online</a>
    <button class="navbar-toggler" type="button" aria-expanded="false" (click)="topCollapsed = !topCollapsed"
      aria-label="Toggle navigation" *ngIf="!showLeftNav">
      <i class="fa fa-reorder"></i>
    </button>

    <div class="navbar-header"  *ngIf="showLeftNav">
      <button class="minimalize-styl-2 btn btn-primary" *ngIf="showLeftNav" aria-label="Toggle navigation"
        (click)="toggleNavigation()">
        <i class="fa fa-bars"></i>
      </button>


    </div>

    <div class="navbar-collapse collapse" id="navbar" [class.show]="!topCollapsed">
      <ul class="nav navbar-nav mr-auto" *ngIf="!showLeftNav">
        <li routerLinkActive="active" *ngFor="let rota of rotas">
          <a aria-expanded="false" role="button" [routerLink]="rota.link" (click)="menuClick(rota)">{{ rota.label }}</a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right" [ngClass]="!showLeftNav ? 'toplinks' : ''">
        <li>
          <a class="right-sidebar-toggle" routerLink="/eleicoes">
            <i class="fa fa-eleicoes"></i>
          </a>
        </li>
        <li>
          <a class="right-sidebar-toggle" routerLink="/contas/minha-conta">
            <i class="fa fa-user"></i>
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <i class="fa fa-sign-out"></i> Log out
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<app-breadcrumb></app-breadcrumb>
